
<%= form_for @song, url: {action: "create"} do |f| %>

<div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "email",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description%><br />
    <%= f.text_area :description,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :file %><br />
    <%= f.file_field :file,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create" %>
  </div>
  
<% end %>