<h3>Register your company</h3>

<%= form_for @company, url: {action: "create"} do |f| %>

<div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "email",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year_established%><br />
    <%= f.number_field :year_established,class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.submit "Create" %>
  </div>
  
<% end %>